<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
		<!--<add name="datacenterEntities" connectionString="metadata=res://*/DatacenterModel.csdl|res://*/DatacenterModel.ssdl|res://*/DatacenterModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.158;user id=capturista_local;port=3306;password=abcd;persistsecurityinfo=True;database=sice_pruebas&quot;" providerName="System.Data.EntityClient" />-->
		<add name="MYSQLOCAL" connectionString="server=192.168.1.158;user id=capturista_local;pwd=abcd;database=sice_pruebas;Convert Zero Datetime=true;" providerName="MySql.Data.MySqlClient" />
		<!--<add name="MYSQLSERVER" connectionString="server=192.168.1.158;user id=capturista_local;pwd=abcd;database=sice_pruebas;Convert Zero Datetime=true;" providerName="MySql.Data.MySqlClient" />-->
		<add name="MYSQLSERVER" connectionString="server=192.168.1.67;user id=mario.canales;pwd=alberto289;database=sice_pruebas;Convert Zero Datetime=true;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>