<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="datacenterEntities" connectionString="metadata=res://*/DatacenterModel.csdl|res://*/DatacenterModel.ssdl|res://*/DatacenterModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.158;user id=capturista_local;port=3306;password=abcd;persistsecurityinfo=True;database=sice_pruebas&quot;" providerName="System.Data.EntityClient" />-->
	<add name="MYSQLOCAL" connectionString="server=192.168.1.158;user id=capturista_local;pwd=abcd;database=sice_pruebas;Convert Zero Datetime=true;" providerName="MySql.Data.MySqlClient" />
	<add name="MYSQLSERVER" connectionString="server=192.168.1.158;user id=capturista_local;pwd=abcd;database=sice_pruebas;Convert Zero Datetime=true;" providerName="MySql.Data.MySqlClient" />
	<add name="datacenterEntities" connectionString="metadata=res://*/DatacenterModel.csdl|res://*/DatacenterModel.ssdl|res://*/DatacenterModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.158;user id=capturista_local;database=sice_pruebas&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>